.wrapper span {
  position: fixed;
  bottom: -50px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(60, 107, 123);
  box-shadow: 0 0 20px 5px #fff;
  animation:
    ani1 10s linear infinite,
    ani2 1.5s ease-in-out infinite alternate;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.wrapper span:nth-child(1) {
  left: 0;
  animation-delay: 0.6s;
}

.wrapper span:nth-child(2) {
  left: 10%;
  animation-delay: 3s;
  background: rgb(174, 5, 5);
}

.wrapper span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
}

.wrapper span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
  background: rgb(147, 147, 4);
}

.wrapper span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
}

.wrapper span:nth-child(6) {
  left: 50%;
  animation-delay: 7s;
  background: pink;
}

.wrapper span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
}

.wrapper span:nth-child(8) {
  left: 70%;
  animation-delay: 8s;
  background: red;
}

.wrapper span:nth-child(9) {
  left: 80%;
  animation-delay: 6s;
}

.wrapper span:nth-child(10) {
  left: 90%;
  animation-delay: 4s;
  background: yellow;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content h2 {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  text-align: center;
  line-height: 0.9;
}

.content h2 b {
  -webkit-text-fill-color: transparent;
  font-size: 65px;
}

@keyframes ani1 {
  0% {
    bottom: 0;
    margin-left: 90px;
    margin-right: 0;
  }

  20% {
    bottom: 20%;
    margin-left: 0;
    margin-right: 90px;
  }

  40% {
    bottom: 40%;
    margin-left: 90px;
    margin-right: 0;
  }

  60% {
    bottom: 60%;
    margin-left: 0;
    margin-right: 90px;
  }

  80% {
    bottom: 80%;
    margin-left: 90px;
    margin-right: 0;
  }

  100% {
    bottom: 100%;
    margin-left: 0;
    margin-right: 90px;
  }
}

@keyframes ani2 {
  from {
    box-shadow: 0 0 20px 5px #fff;
  }

  to {
    box-shadow: 0 0 40px 10px #00fafa;
  }
}
